<!DOCTYPE html>
<html lang="en" ng-app="animations">
<head>
    <meta charset="UTF-8">
    <title>angular animations</title>
</head>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/animations.css">
<body>

<div id="animateMainWrapper" ng-controller="mainController as model" ng-class="{'open' : model.toggle, 'container-fluid' : 1}"  ng-cloak>
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="model.toggleSidebar()">
                    Dashboard
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list">
                <a href="#/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/notifications">Notifications <span class="menu-icon fa fa-bell"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/preferences">Preferences <span class="menu-icon fa fa-cog"></span></a>
            </li>
        </ul>
    </div>
    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item">
                            <a class="dropdown-toggle" ng-click="">
                                <img src="images/avatar.jpg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" ng-show="">
                                <li class="dropdown-header">
                                    Kevin Weeks
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">
                                        Profile
                                    </a>
                                </li>
                                <li class="link">
                                    <a href="#">
                                        Preferences
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item dropdown">
                            <a class="dropdown-toggle" ng-click="">
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" ng-show="s">
                                <li class="dropdown-header">
                                    Notifications
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">1 New Friend Request</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="page">
                            Dashboard
                        </div>
                        <div class="breadcrumb-links">
                            Home
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->

            <!-- Main Content -->
            <div ng-view></div>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers/mainController.js"></script>
<script src="js/controllers/statesController.js"></script>
</body>
</html>